.bottom-nav {
  height: 70px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.bottom-nav .nav-item {
  float: left;
  border-left: 1px solid grey;
  width: 50%;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  background: lightgray;
  font-size: 40px;
  font-weight: 100;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.bottom-nav .nav-item.active {
  background: #fafafa;
  border-top: 0;
}
.bottom-nav .nav-item:first-child {
  border-left: none;
}
* {
  font-family: sans-serif;
}
body,
html {
  padding: 0;
  margin: 0;
}
h1 {
  color: #666;
}
